#page
{
    position: absolute;
    width: 800px;
    left: 50%;
    margin-left: -400px;
}

.bulletInput-input
{
    border-style: none;
    background-color: transparent;
    outline-style: none;
    width: 95%;
}

.bulletInput-nobullet
{
    list-style-type: none;    
}

.bulletInput-container
{
    margin-top: -10px;
}